.aboutMain {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 64, 41);
  align-items: center;
  padding: 100px 0px;
  background-size: cover;
  background-image: url("../public/background_image.png");
}

.aboutText {
  width: 80%;
  max-width: 1440px;
  font-size: 32px;
  font-family: "Libre Baskerville", serif;
  color: hsla(0, 0%, 85%, 0.6);
  text-align: center;
}

.aboutUnderline {
  text-decoration: underline;
  color: white;
}

.aboutLine {
  padding: 40px 0px;
}
