.aboutMain {
  display: flex;
  background-color: rgb(0, 64, 41);
  align-items: center;
  justify-content: space-between;
  padding: 100px 0px;
  background-image: url("../public/background_image.png");
}

.aboutText {
  font-size: 32px;
  font-family: "Libre Baskerville", serif;
  color: hsla(0, 0%, 85%, 0.6);
}

.aboutUnderline {
  text-decoration: underline;
  color: white;
}

.line {
=======
  color: rgb(255, 255, 255);
>>>>>>> a6572356e42288848d77108e54ae52bd68882a17
}
