.homeMenuMain {
  background-color: #f7f6ef;
}

.homeitem {
}

.container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
}

.homeMenuImage {
}

.homeMenuDesc {
  width: 100%;
  height: 74.8px;
  font-size: 21px;
  background-color: #033e29;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
