.homeMenuMain {
  background-color: #f7f6ef;
}

.homeitem {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
}

.container a {
  text-decoration: none;
}

.homeMenuImage img {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.homeMenuDesc {
  width: 100%;
  height: 74.8px;
  font-size: 21px;
  background-color: #033e29;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}
