.logo {
  padding: 8px 0px;
  opacity: 100%;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.root {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 90%;
}

.links {
  display: flex;
  gap: 8px;
  list-style: none;
  font-family: Montserrat;
  padding: 0px 10px;
  font-size: 16px;
  align-items: center;
}

.links li {
  padding: 8px 16px;
}

.order {
  padding: ;
  background-color: rgb(0, 64, 41);
  font-size: 16px;
  color: white;
  font-family: Montserrat;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
}

.dot {
  height: 3px;
  width: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
}
